/ # March 2014
/ # Author: Kyla Kolb

%p.notice
  = notice

%p
  %b
    Text:
  = @question.text

%h4
  Choices
%ul
  - @question.choices.each do |choice|
    %li
      = choice.image_src
      - if choice.correct
        (Correct)

      = form_tag({:controller => "choices", :action => "destroy"}) do
        = hidden_field_tag :question, @question.id
        = hidden_field_tag :choice, choice.id
        = submit_tag "Delete"

%h5
  New Choice
= form_tag({:controller => "choices", :action => "create"}) do
  = hidden_field_tag :question, @question.id 

  = label_tag :image_src, "Image Source"
  = text_field_tag :image_src
  %br
  = check_box_tag :correct 
  = label_tag :correct, "Correct"
  = submit_tag "Create"

= link_to 'Edit', edit_question_path(@question)
|
= link_to 'Back', questions_path