/ # March 2014
/ # Author: Kyla Kolb

%h1
	Question
	= @current + 1
	of
	= @total

%p.question
	= @question.text

.feedback-choices
	- @choices.each do |choice|
		= image_tag(choice.image_src)
%br
%br
= form_tag({:controller => "quiz", :action => "question"}) do
	.center
		= submit_tag("Continue", :class => "submit")