/ # March 2014
/ # Author: Kyla Kolb

%h1
	Quiz Results
%p.question
	You answered correctly 
	= @correct
	out of
	= @total
	questions.

%p.score
	= @score
	\%

= form_tag({:controller => "results", :action => "index"}, :method => "get") do
	.center
		= submit_tag("Compare your results", :class => "submit")